body {
    background-color: rgb(236, 183, 84);
}

#form input {
    width: 200px;
    height: 50px;
}

#form button {
    padding: 18px 30px;
}

#form button:focus {
    background-color: chocolate;
}

.divTest {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 200px;
    height: 200px;
    border: 3px dashed wheat;
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

tr {
    border: 1px solid red;
    height: 50px;
    width: 100%;
    background-color: blue;
}

#userCard {
    border: 2px solid grey;
    padding: 20px;
}

#userCard h1 {
    text-align: center;
}

.userCardItems {
    border: 2px solid black;
    padding: 10px;
    position: relative;
}

.item_img {
    position: absolute;
    border-radius: 50%;
    right: 30px;
    top: 30px;
}

.tab_wrap {
    border: 1px solid wheat;
    max-width: 800px;
    height: 400px;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgb(91, 91, 155);
    padding: 10px;
}

.tabs_btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}

.tabs_btns-item {
    border-radius: 20px;
    border: 1px solid white;
    width: 100%;
    text-align: center;
    margin: 0 5px;
}

.btns_item-text {
    font-size: 20px;
    color: white;
    line-height: 25px;
}

.active {
    background-color: violet;
}

.tabs_content-item {
    display: none;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.tabs_content-item.active {
    display: block;
}

.an_color-wrap {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    margin: 50px auto;
}

.choice_wrap {
    display: flex;
    justify-content: space-around;
}

.choice_user {
    width: 600px;
    min-height: 500px;
    border: 1px solid black;
    padding: 20px;
}

.choice {
    width: 100px;
    height: 20px;
}