body {
    background-color: rgb(236, 183, 84);
}

#form input {
    width: 200px;
    height: 50px;
}

#form button {
    padding: 18px 30px;
}

#form button:focus {
    background-color: chocolate;
}