* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(236, 183, 84);
}

#posts {
    display: flex;
    position: relative;
}

.post_item.active {
    transition: 0.9 ease;
    background-color: red;
    opacity: 1;
}

.post_item {
    transition: 0.9;
    opacity: 0.4;
    position: relative;
    border: 1px solid black;
    min-width: 400px;
    padding: 5px;
}

.post_btn {
    position: absolute;
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    top: -42px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.close_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid red;
    top: -20px;
    right: -20px;
}

.close_btn>img {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.post_img {
    width: 100%;
}

.slider_wrap {
    position: relative;
    width: 400px;
    margin: 150px auto;
    border: 1px solid black;
    background-color: rgb(137, 201, 243);
    padding: 50px 0px;
    /* overflow: hidden; */
}

.slider_arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid black;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    bottom: 10%;
    user-select: none;
    transition: 0.1s ease;
}

.slider_arrow:active {
    background-color: red;
}

.prev_arrow {
    left: 10%;
}

.next_arrow {
    right: 10%;
}

.slider {
    width: 100%;
}

.dots {
    display: flex;
    width: 200px;
    margin: -100px auto;
}

.dots_item {
    margin: 0 10px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
    transition: 0.3s;
}

.active_dot {
    background-color: blanchedalmond;
}

#pop_up-wrap {
    display: none;
    position: absolute;
    z-index: 2000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.95;
}

#pop_up-wrap>div {
    position: relative;
    max-width: 400px;
    width: 100%;
    margin: auto auto;
    background: transparent;
    border: 1px solid wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#pop_up-wrap>div>p {
    color: wheat;
    margin-bottom: 20px;
}

#pop_up-wrap>div>img {
    max-width: 50%;
    max-height: 50%;
}

#pop_up-wrap>div>h2 {
    color: wheat;
    margin-bottom: 20px;
}